<a href="https://colab.research.google.com/github/ham4286/Python_School/blob/main/20527%ED%95%A8%ED%98%84%EC%A2%85_(1013)_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_address():
  print("서울시 동대문구")
  print("전동중학교 4층")
  print("방과후교실")
print_address()

서울시 동대문구
전동중학교 4층
방과후교실

In [4]:
def print_address(name):
  print("서울시 동대문구")
  print("전동중학교 4층")
  print(name)
print_address("전동이")

서울시 동대문구
전동중학교 4층
전동이

In [12]:
def calculate_area(radius):
  area = 3.14*radius**2
  return area
calculate_area(5)

78.5

In [ ]:
def calculate_area(radius):
  area = 3.14*radius**2
  return area
print(calculate_area(5) + calculate_area(10))

In [32]:
def calculate_area():
  result = 3.14 * r **2
  return result
r = float(input("원의 반지름 : "))
area = calculate_area()
print(area)

원의 반지름 : 5
78.5

In [35]:
def calculate_area(radius):
  global area
  area = 3.14 * radius **2
  return

area = 0
r = float(input("원의 반지름 : "))
calculate_area(r)
print(area)

원의 반지름 : 5
78.5